h1{
    text-align: center;
    font-size: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline;
    padding: 15px;
    font-size: 40px;
  }

  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row {
    display: flex;
  }
  

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }